In [1]:
import pandas as pd
import numpy as np

In [2]:
# import data

loan_data_inputs_train = pd.read_csv('loan_data_inputs_train.csv', index_col = 0)
loan_data_targets_train = pd.read_csv('loan_data_targets_train.csv', index_col = 0, header = None)
loan_data_inputs_test = pd.read_csv('loan_data_inputs_test.csv', index_col = 0)
loan_data_targets_test = pd.read_csv('loan_data_targets_test.csv', index_col = 0, header = None)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
loan_data_inputs_train.head()

,Unnamed: 0.1,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,dti:21.7-22.4,dti:22.4-35,dti:>35,mths_since_last_record:Missing,mths_since_last_record:0-2,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86
427211,427211,12796369,14818505,24000,24000,24000.0,36 months,8.90,762.08,A,...,1,0,0,1,0,0,0,0,0,0
206088,206088,1439740,1691948,10000,10000,10000.0,36 months,14.33,343.39,C,...,0,0,0,1,0,0,0,0,0,0
136020,136020,5214749,6556909,20425,20425,20425.0,36 months,8.90,648.56,A,...,0,0,0,1,0,0,0,0,0,0
412305,412305,13827698,15890016,17200,17200,17200.0,36 months,16.59,609.73,D,...,0,0,0,1,0,0,0,0,0,0
36159,36159,422455,496525,8400,8400,7450.0,36 months,12.84,282.40,C,...,0,1,0,1,0,0,0,0,0,0

In [4]:
loan_data_targets_train.head()

                 1
0
NaN       good_bad
427211.0         1
206088.0         1
136020.0         1
412305.0         0

In [5]:
loan_data_inputs_test.shape

(93257, 324)

In [6]:
loan_data_targets_test.shape

(93258, 1)

In [7]:
loan_data_targets_train.shape

(373029, 1)

In [8]:
loan_data_inputs_train.shape

(373028, 324)

In [9]:
loan_data_targets_train = loan_data_targets_train.iloc[1:]
loan_data_targets_train

          1
0
427211.0  1
206088.0  1
136020.0  1
412305.0  0
36159.0   0
...      ..
259178.0  1
365838.0  1
131932.0  1
146867.0  1
121958.0  1

[373028 rows x 1 columns]

In [10]:
loan_data_targets_test = loan_data_targets_test.iloc[1:]
loan_data_targets_test

          1
0
362514.0  1
288564.0  1
213591.0  1
263083.0  1
165001.0  1
...      ..
115.0     1
296284.0  1
61777.0   0
91763.0   1
167512.0  1

[93257 rows x 1 columns]

In [11]:
loan_data_inputs_test.shape

(93257, 324)

In [12]:
loan_data_targets_test.shape

(93257, 1)

In [13]:
loan_data_inputs_train.shape

(373028, 324)

In [14]:
loan_data_targets_train.shape

(373028, 1)

# Selecting features

In [15]:
pd.options.display.max_columns = None

We going to take all the dummy variable columns and create a new dataframe for all of them

In [16]:
inputs_train_with_ref_cat = loan_data_inputs_train.loc[ : , ['grade:A','grade:B','grade:C','grade:D','grade:E','grade:F',
                           'grade:G','home_ownership:RENT_OTHER_NONE_ANY','home_ownership:OWN','home_ownership:MORTGAGE',
                           'addr_state:ND_NE_IA_NV_FL_HI_AL','addr_state:NM_VA','addr_state:NY','addr_state:OK_TN_MO_LA_MD_NC',
                           'addr_state:CA','addr_state:UT_KY_AZ_NJ','addr_state:AR_MI_PA_OH_MN','addr_state:RI_MA_DE_SD_IN',
                           'addr_state:GA_WA_OR','addr_state:WI_MT','addr_state:TX','addr_state:IL_CT','addr_state:KS_SC_CO_VT_AK_MS',
                           'addr_state:WV_NH_WY_DC_ME_ID','verification_status:Not Verified','verification_status:Source Verified',
                           'verification_status:Verified','purpose:educ__sm_b__wedd__ren_en__mov__house',
                           'purpose:credit_card','purpose:debt_consolidation','purpose:oth__med__vacation',
                           'purpose:major_purch__car__home_impr','initial_list_status:f','initial_list_status:w','term:36',
                           'term:60','emp_length:0','emp_length:1','emp_length:2-4','emp_length:5-6','emp_length:7-9',
                           'emp_length:10','mths_since_issue_d:<38','mths_since_issue_d:38-39','mths_since_issue_d:40-41',
                           'mths_since_issue_d:42-48','mths_since_issue_d:49-52','mths_since_issue_d:53-64','mths_since_issue_d:65-84',
                           'mths_since_issue_d:>84','int_rate:<9.548','int_rate:9.548-12.025','int_rate:12.025-15.74',
                           'int_rate:15.74-20.281','int_rate:>20.281','mths_since_earliest_cr_line:<140','mths_since_earliest_cr_line:141-164',
                           'mths_since_earliest_cr_line:165-247','mths_since_earliest_cr_line:248-270','mths_since_earliest_cr_line:271-352',
                           'mths_since_earliest_cr_line:>352','delinq_2yrs:0','delinq_2yrs:1-3','delinq_2yrs:>=4','inq_last_6mths:0','inq_last_6mths:1-2',
                           'inq_last_6mths:3-6','inq_last_6mths:>6','open_acc:0','open_acc:1-3','open_acc:4-12','open_acc:13-17',
                           'open_acc:18-22','open_acc:23-25','open_acc:26-30','open_acc:>=31','pub_rec:0-2',
                           'pub_rec:3-4','pub_rec:>=5','total_acc:<=27','total_acc:28-51','total_acc:>=52','acc_now_delinq:0',
                           'acc_now_delinq:>=1','total_rev_hi_lim:<=5K','total_rev_hi_lim:5K-10K',
                           'total_rev_hi_lim:10K-20K','total_rev_hi_lim:20K-30K','total_rev_hi_lim:30K-40K','total_rev_hi_lim:40K-55K',
                           'total_rev_hi_lim:55K-95K','total_rev_hi_lim:>95K','annual_inc:<20K','annual_inc:20K-30K','annual_inc:30K-40K',
                           'annual_inc:40K-50K','annual_inc:50K-60K','annual_inc:60K-70K','annual_inc:70K-80K',
                           'annual_inc:80K-90K','annual_inc:90K-100K','annual_inc:100K-120K','annual_inc:120K-140K','annual_inc:>140K',
                           'dti:<=1.4','dti:1.4-3.5','dti:3.5-7.7','dti:7.7-10.5','dti:10.5-16.1','dti:16.1-20.3',
                           'dti:20.3-21.7','dti:21.7-22.4','dti:22.4-35','dti:>35','mths_since_last_delinq:Missing',
                           'mths_since_last_delinq:0-3','mths_since_last_delinq:4-30','mths_since_last_delinq:31-56',
                           'mths_since_last_delinq:>=57','mths_since_last_record:Missing','mths_since_last_record:0-2',
                           'mths_since_last_record:3-20','mths_since_last_record:21-31','mths_since_last_record:32-80',
                           'mths_since_last_record:81-86','mths_since_last_record:>86',]]

Now we must remove 1 dummy for each original variable, otherwise we will fall into the 'dummy variable' trap.

In [17]:
ref_categories = ['grade:G','home_ownership:RENT_OTHER_NONE_ANY','addr_state:ND_NE_IA_NV_FL_HI_AL',
                  'verification_status:Verified','purpose:educ__sm_b__wedd__ren_en__mov__house','initial_list_status:f',
                  'term:60','emp_length:0','mths_since_issue_d:>84','int_rate:>20.281','mths_since_earliest_cr_line:<140',
                  'delinq_2yrs:>=4','inq_last_6mths:>6','open_acc:0','pub_rec:0-2','total_acc:<=27','acc_now_delinq:0',
                  'total_rev_hi_lim:<=5K','annual_inc:<20K','dti:>35','mths_since_last_delinq:0-3','mths_since_last_record:0-2']

In [18]:
inputs_train = inputs_train_with_ref_cat.drop(ref_categories, axis = 1)
inputs_train.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,home_ownership:OWN,home_ownership:MORTGAGE,addr_state:NM_VA,addr_state:NY,addr_state:OK_TN_MO_LA_MD_NC,addr_state:CA,addr_state:UT_KY_AZ_NJ,addr_state:AR_MI_PA_OH_MN,addr_state:RI_MA_DE_SD_IN,addr_state:GA_WA_OR,addr_state:WI_MT,addr_state:TX,addr_state:IL_CT,addr_state:KS_SC_CO_VT_AK_MS,addr_state:WV_NH_WY_DC_ME_ID,verification_status:Not Verified,verification_status:Source Verified,purpose:credit_card,purpose:debt_consolidation,purpose:oth__med__vacation,purpose:major_purch__car__home_impr,initial_list_status:w,term:36,emp_length:1,emp_length:2-4,emp_length:5-6,emp_length:7-9,emp_length:10,mths_since_issue_d:<38,mths_since_issue_d:38-39,mths_since_issue_d:40-41,mths_since_issue_d:42-48,mths_since_issue_d:49-52,mths_since_issue_d:53-64,mths_since_issue_d:65-84,int_rate:<9.548,int_rate:9.548-12.025,int_rate:12.025-15.74,int_rate:15.74-20.281,mths_since_earliest_cr_line:141-164,mths_since_earliest_cr_line:165-247,mths_since_earliest_cr_line:248-270,mths_since_earliest_cr_line:271-352,mths_since_earliest_cr_line:>352,delinq_2yrs:0,delinq_2yrs:1-3,inq_last_6mths:0,inq_last_6mths:1-2,inq_last_6mths:3-6,open_acc:1-3,open_acc:4-12,open_acc:13-17,open_acc:18-22,open_acc:23-25,open_acc:26-30,open_acc:>=31,pub_rec:3-4,pub_rec:>=5,total_acc:28-51,total_acc:>=52,acc_now_delinq:>=1,total_rev_hi_lim:5K-10K,total_rev_hi_lim:10K-20K,total_rev_hi_lim:20K-30K,total_rev_hi_lim:30K-40K,total_rev_hi_lim:40K-55K,total_rev_hi_lim:55K-95K,total_rev_hi_lim:>95K,annual_inc:20K-30K,annual_inc:30K-40K,annual_inc:40K-50K,annual_inc:50K-60K,annual_inc:60K-70K,annual_inc:70K-80K,annual_inc:80K-90K,annual_inc:90K-100K,annual_inc:100K-120K,annual_inc:120K-140K,annual_inc:>140K,dti:<=1.4,dti:1.4-3.5,dti:3.5-7.7,dti:7.7-10.5,dti:10.5-16.1,dti:16.1-20.3,dti:20.3-21.7,dti:21.7-22.4,dti:22.4-35,mths_since_last_delinq:Missing,mths_since_last_delinq:4-30,mths_since_last_delinq:31-56,mths_since_last_delinq:>=57,mths_since_last_record:Missing,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86
427211,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0
206088,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
136020,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0
412305,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0
36159,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0

# Now we fit the data

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [20]:
reg = LogisticRegression()

In [21]:
reg.fit(inputs_train, loan_data_targets_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

TypeError: '<' not supported between instances of 'int' and 'str'